In [1]:
import pandas as pd
import requests
import gzip

Importo as bibliotecas que utilizarei. Além do pandas, requests para ler o link e gzip para descompactar o arquivo.

In [2]:
r = requests.get('https://data.brasil.io/dataset/covid19/caso_full.csv.gz')

Leio o link e salvo na variavél "r"

In [3]:
open('caso_full.csv.gz', 'wb').write(r.content)

18004489

Crio um arquivo em modo binário (wb) e gravo o conteúdo da variavél "r" nele.

In [4]:
with gzip.open('caso_full.csv.gz') as f:
    caso_full = pd.read_csv(f)

Com o gzip, abro o arquivo que construí e o chamo de "f". Depois, com o pandas, leio o csv e chamo o dataframe de "caso_full".

In [5]:
caso_full.sample(5)

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
25324,Presidente Kennedy,3204302.0,2020-04-22,17,11574.0,False,False,3,25.92017,2020-04-22,0.3333,1,7,city,ES,0,0
466804,Macarani,2919702.0,2020-08-02,32,18755.0,False,False,150,799.78672,2020-08-02,0.0133,2,69,city,BA,5,0
392448,São Gonçalo,3304904.0,2020-07-19,30,1084839.0,False,False,6927,638.52793,2020-07-19,0.0795,551,119,city,RJ,294,22
564882,Rafael Fernandes,2410504.0,2020-08-19,34,5098.0,False,False,17,333.46410,2020-08-19,0.0000,0,53,city,RN,0,0
654207,Ceará-Mirim,2402600.0,2020-09-04,36,73497.0,False,True,744,1012.28622,2020-08-31,0.0538,40,157,city,RN,0,0

Um exemplo para ver se deu certo.

In [6]:
caso_full.columns

Index(['city', 'city_ibge_code', 'date', 'epidemiological_week',
       'estimated_population_2019', 'is_last', 'is_repeated',
       'last_available_confirmed',
       'last_available_confirmed_per_100k_inhabitants', 'last_available_date',
       'last_available_death_rate', 'last_available_deaths', 'order_for_place',
       'place_type', 'state', 'new_confirmed', 'new_deaths'],
      dtype='object')

Peço para mostrar as colunas.

In [7]:
caso_full = caso_full[['city', 'date', 'last_available_confirmed', 'last_available_deaths', 'new_confirmed', 'new_deaths']]

Guardo somente as colunas que me interessaram...

In [8]:
caso_full = caso_full.rename(columns={'city':'Cidade'})
caso_full = caso_full.rename(columns={'date':'Data'})
caso_full = caso_full.rename(columns={'last_available_confirmed':'Total de casos'})
caso_full = caso_full.rename(columns={'last_available_deaths':'Total de mortos'})
caso_full = caso_full.rename(columns={'new_confirmed':'Casos no dia'})
caso_full = caso_full.rename(columns={'new_deaths':'Mortes no dia'})

...e as renomeio.

In [9]:
caso_full.sample(5)

,Cidade,Data,Total de casos,Total de mortos,Casos no dia,Mortes no dia
477967,Nova Fátima,2020-08-04,51,1,2,0
87876,Jataí,2020-05-17,33,0,0,0
291668,Santa Terezinha de Goiás,2020-07-01,10,0,4,0
197416,Importados/Indefinidos,2020-06-12,0,0,0,0
270865,Ferros,2020-06-27,8,0,0,0

Vejo se deu certo.

In [10]:
caso_full['Cidade'].unique()

array(['São Paulo', nan, 'Barra Mansa', ..., 'Pinhal da Serra',
       'Ubiretama', 'Lagoa Bonita do Sul'], dtype=object)

Quero pegar somente a minha cidade, então checo antes se há espaço nos nomes.

In [11]:
caso_full = caso_full[caso_full['Cidade']=='Ribeirão Preto']

Filtro por Ribeirão Preto.

In [12]:
caso_full = caso_full[caso_full['Mortes no dia'] >= 0]

Haviam números negativos, então pedi para mostrar apenas os maiores ou iguais a zero.

In [13]:
caso_full.sample(5)

,Cidade,Data,Total de casos,Total de mortos,Casos no dia,Mortes no dia
77080,Ribeirão Preto,2020-05-13,333,11,20,1
510559,Ribeirão Preto,2020-08-09,12933,438,209,3
333537,Ribeirão Preto,2020-07-08,5706,208,244,12
104647,Ribeirão Preto,2020-05-21,575,17,63,2
16432,Ribeirão Preto,2020-04-15,65,5,12,1

Ficou bom.

In [14]:
caso_full.to_csv('covid.csv', encoding='utf8', index=False)

Exporto e salvo.